<%= fields_for @interaction do |f| %>
  <%= hidden_field_tag :type, @interaction.type %>
  <label for="post_at_best_time">
    <%= f.check_box :post_at_best_time, {}, true, false %> post at best time
  </label>
  <% unless current_user.has_authorization_for?('Reddit') %>
    <%= link_to 'Assign Reddit account', edit_user_registration_path %>
  <% end %>
<% end %>
