<%= fields_for @interaction do |f| %>
  <% unless current_user.has_authorization_for?('Twitter') %>
    <div class="pure-controls">
      <%= link_to 'Assign Twittter account', edit_user_registration_path %>
    </div>
  <% end %>
<% end %>
