<h1>Edit Interaction</h1>

<% if @interaction.errors.any? %>
  <div class="error">
    <h3>Invalid input</h3>
    <p><%= @interaction.errors.full_messages.to_sentence %></p>
  </div>
<% end %>

<%= render @interaction.type.underscore %>
