<h1>New Interaction</h1>

  <div class="pure-control-group">
    Interaction Type
    <%= select_tag :type, options_for_select(Interaction::AVAILABLE_INTERACTIONS.map { |interaction| [interaction.underscore.humanize, interaction] }, @interaction.try(:type)), :class => "pure-input-1-4" %>
  </div>

  <div id="new-interaction-container"></div>




