<h1>New Interaction</h1>

<%= form_for @interaction do |f| %>
  <%= f.select :type, { 'As' => 'RedditInteraction', 'das' => 'TwitterInteraction', 'fail' => 'failure' } %>
  <div id="new-interaction-container"></div>
<% end %>


<script type="text/javascript" charset="utf-8">
</script>
