<h1>New Interaction</h1>

<% if @interaction.errors.any? %>
  <div class="error">
    <h3>Invalid input</h3>
    <p><%= @interaction.errors.full_messages.to_sentence %></p>
  </div>
<% end %>

<% if @interaction.errors.any? %>
  <%= render @interaction.type.underscore %>
<% else %>
  <div class="pure-form pure-form-aligned">
    <div class="pure-control-group">
      <label for="type">Type</label>
      <%= select_tag :type, options_for_select(Interaction::AVAILABLE_INTERACTIONS.map { |interaction| [interaction.underscore.humanize, interaction] }, @interaction.try(:type)), :class => "pure-input-1-4" %>
    </div>
  </div>

  <div id="new-interaction-container"></div>
<% end %>
