<h1>New Interaction</h1>

<%= form_for @interaction do |f| %>
  <%= f.select :type, Hash[Interaction.subclasses.map { |interaction| [interaction.name.underscore.humanize, interaction.name] }] %>
  <div id="new-interaction-container"></div>
<% end %>
