---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/programming/top.json?limit=100&t=month
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=KyBz1y9o3RVLdReNoZi%2FWLsH9z%2Bx1lPKfyb9qPYEaDZO51Wlx9JvF%2BcG5BgBncJy2BAe7Zq8hJo%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "github.com", "banned_by": null, "media_embed": {}, "subreddit":
        "programming", "selftext_html": null, "selftext": "", "likes": null, "user_reports":
        [], "secure_media": null, "link_flair_text": null, "id": "2unrll", "gilded":
        0, "archived": false, "clicked": false, "report_reasons": null, "author":
        "dthomasdidit", "num_comments": 1038, "score": 3050, "approved_by": null,
        "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2fwo",
        "edited": false, "link_flair_css_class": null, "author_flair_css_class": null,
        "downs": 0, "secure_media_embed": {}, "saved": false, "stickied": false, "is_self":
        false, "permalink": "/r/programming/comments/2unrll/net_core_is_on_github/",
        "name": "t3_2unrll", "created": 1423015895.0, "url": "https://github.com/dotnet/coreclr",
        "author_flair_text": null, "title": ".NET Core is on Github!", "created_utc":
        1422987095.0, "distinguished": null, "media": null, "mod_reports": [], "visited":
        false, "num_reports": null, "ups": 3050}}, {"kind": "t3", "data": {"domain":
        "github.com", "banned_by": null, "media_embed": {}, "subreddit": "programming",
        "selftext_html": null, "selftext": "", "likes": null, "user_reports": [],
        "secure_media": null, "link_flair_text": null, "id": "2tz4qu", "gilded": 0,
        "archived": false, "clicked": false, "report_reasons": null, "author": "sidcool1234",
        "num_comments": 144, "score": 2059, "approved_by": null, "over_18": false,
        "hidden": false, "[...]
- request:
    method: get
    uri: https://www.reddit.com/r/programming/top.json?after=t3_2u8acq&count=100&limit=100&t=month
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=ocyuwFe1g6j1LaMOcROONWQqc31LfnSctzAPEjt7nEdYDKLfVbDKfrcLAfA2J8L8ZwqWKeoSpR8%3D
      X-Moose[...]
- request:
    method: get
    uri: https://www.reddit.com/r/programming/top.json?after=t3_2vrkqw&count=200&limit=100&t=month
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=3tVPf5JjwhLgEbM87CJzBxT49G%2FLixh27vOXHz16q%2BlvmC53AYPy8iBxfE0%2Fn7XLROFw9MyuoyE%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "youtube.com", "banned_by": null, "media_embed": {"content":
        "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FJoNkttD_MUs%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DJoNkttD_MUs&amp;image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FJoNkttD_MUs%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"338\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 600, "scrolling": false, "height": 338}, "subreddit": "programming",
        "selftext_html": null, "selftext": "", "likes": null, "user_reports": [],
        "secure_media": {"type": "youtube.com", "oembed": {"provider_url": "http://www.youtube.com/",
        "description": "Demo with Run-Time Type Information / introspection / reflection
        / whatever you want to call it. Application to variable-argument functions
        and serialization.", "title": "Demo: Run-Time (and Compile-Time) Type Information",
        "url": "http://www.youtube.com/watch?v=JoNkttD_MUs", "author_name": "Jonathan
        Blow", "height": 338, "width": 600, "html": "&lt;iframe class=\"embedly-embed\"
        src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FJoNkttD_MUs%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DJoNkttD_MUs&amp;image=http%3A%2F%2Fi.ytimg.com%2Fvi%2FJoNkttD_MUs%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"338\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "thumbnail_width": 480, "version": "1.0", "provider_name": "YouTube", "thumbnail_url":
        "https://i.embed.ly/1/image?url=http%3A%2F%2Fi.ytimg.com%2Fvi%2FJoNkttD_MUs%2Fhqdefault.jpg&amp;key=b1e305db91cf4aa5a86b732cc9fffceb",
        "type": "video", "thumbnail_height": 360, "author_url": "http://www.youtube.com/user/jblow888"}},
        "link_flair_text": null, "id": "2vmwku", "gilded": 0, "archived": false, "clicked":
        false, "report_reasons": null, "author": "revelation60", "num_comments": 22,
        "score": 67, "approved_by": null, "over_18": false, "hidden": false, "thumbnail":
        "", "subreddit_id": "t5_2fwo", "edited": false, "link_flair_css_class": null,
        "author_flair_css_class": null, "downs": 0, "secure_media_embed": {"content":
        "&lt;ifram[...]
- request:
    method: get
    uri: https://www.reddit.com/r/programming/top.json?after=t3_2w8exi&count=300&limit=100&t=month
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=nAlq1D%2FKV2sOKr7p%2FL2jwhcTH7czDZvbZaNg%2BdG7S3w2OR8c5ZYCgeX8wCfYjy7Occmg6tybF1U%3D
      X[...]
- request:
    method: get
    uri: https://www.reddit.com/r/programming/top.json?after=t3_2wtkgz&count=400&limit=100&t=month
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=7l6AJt%2BEbU0X522i%2BnF5NBGnRt9XSPJTmeb38M2G4XEIezotQ6XGlcrNBcTzhc4T1wrtm0ybfpM%3D
      X-M[...]
- request:
    method: get
    uri: https://www.reddit.com/r/programming/top.json?after=t3_2tppaa&count=500&limit=100&t=month
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=ohvpBQWZecDfb2no%2FROKKqoWQY69Wla1cDuhpYeXf6JuK4TP%2B9buD1vCqxgIxKyEHBEsj9xBYIY%3D
      X-M[...]
- request:
    method: get
    uri: https://www.reddit.com/r/programming/top.json?after=t3_2uyq38&count=600&limit=100&t=month
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=hiGVpAL9n6Fhz%2Fdl%2Bh5u6PqE%2FF95CaNxyjycR9kf9Q1jymwGYBjl3COFfqQ3cQB4c7VCOoh3F08%3D
      X[...]
- request:
    method: get
    uri: https://www.reddit.com/r/programming/top.json?after=t3_2tkloh&count=700&limit=100&t=month
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=YDtK0UeAcwWlItQHfoxC5Lm2y9i6koBiZtLs3O5WhpozoS7kzk9cMa5vB1IIvGzyNQnIHoI9yL0%3D
      X-Moose[...]
