<div class="jumbotron">
  <h1>Archive and share favorite links</h1>
  <p>Linkyard is a fast and easy way archive, organize and share your favorite links and bookmarks.</p>

  <%= render 'devise/shared/signup' %>
</div>
