<article class="digest-article">
<h3><%= link_to link.title, redirect_link_url(link, { host: @digest_type ? Weekly::Digest.domain_from(@digest_type) :: @digest.type }.merge(url_params || {})) %></h3>
  <aside><%= link.tags.map { |t| t.name }.join(", ") %></aside>
  <% if show_digest %>
    <% issue = Weekly::Digest.issue_from(@digest_type, link.created_at) %>
    <p><small>from <%= link_to "digest ##{issue}", digest_path(issue) %></small></p>
  <% end %>
  <% if link.description %>
    <p><small><%= link.description %></small></p>
  <% end %>
</article>
