<article class="digest-article">
  <h2><%= link_to link.title, link.url %></h2>
  <aside><%= link.tags.map { |t| t.name }.join(", ") %></aside>
  <% if show_digest %>
    <% issue = WeeklyDigest.issue_from(link.created_at) %>
    <p><small>from <%= link_to "digest ##{issue}", digest_path(issue) %></small></p>
  <% end %>
  <% if link.description %>
    <p><small><%= link.description %></small></p>
  <% end %>
</article>
