<h1>Archive</h1>
<% @digests.each do |digest| %>
  <div>
    <h3><%= link_to("Digest #" + digest.issue.to_s, digest_path(digest.issue)) %></h3>
    <aside><%= formatted_date(digest.to + 1.day) %></aside>
  </div>
<% end %>
