<% content_for :title do %>
  <%= "Archives" %>
<% end %>

<h1>Archive</h1>
<%= render partial: "subscribers/form" %>
<% @digests.each_slice(3) do |digests_in_row| %>
  <% digests_in_row.each do |digest| %>
    <h3><%= link_to("Digest #" + digest.issue.to_s, digest_path(digest.issue)) %></h3>
    <aside><%= formatted_date(digest.to + 1.day) %></aside>
  <% end %>
<% end %>
