<% content_for :title do %>
  <%= "Privacy policy" %>
<% end %>

<h1>Privacy policy</h1>

<p>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.</p>

<ul>
  <li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li>
  <li>We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.</li>
  <li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li>
  <li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.  </li>
  <li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.  </li>
  <li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.  </li>
  <li>We will make readily available to customers information about our policies and practices relating to the management of personal information.  </li>
</ul>
<p>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.</p>

<h3>What information do we collect?</h3>

<p>We collect your email address in order to send you the weekly newsletter.</p>

<p>Apart from that, we are using Google Analytics to track website access and use cookies for similar purposes.</p>

<h3>COPPA - Children’s Online Privacy Protection Act (USA)</h3>

<p>We do not and will not knowingly collect or store information on sites we control about children who are under the age of 13. Our sites are also not targeted or designed to attract children under the age of 13. If you feel a child under the age of 13 may be listed in our databases, please contact us immediately.</p>

<h3>Access To Information We Store About You</h3>
<p>As per the Data Protection Act 1998 (UK), you are able to ask us to send you all of the information we hold about you (subject to certain legal limitations). To do this, please send us an email to <%= link_to "jakub.chodounsky@gmail.com", "mailto:jakub.chodounsky@gmail.com" %> and provide any information we may need in order to locate information we store about you.</p>
