<% content_for :title do %>
  <%= "SPAM policy" %>
<% end %>

<h1>SPAM policy</h1>

<p>We store an email address to be able to send you our weekly newsletter, but we don't use your email address for any other purposes.</p>

<p>You are able to unsubscribe at any given time by clicking the unsubscribe link in the email.</p>

<p>We are strongly against SPAM and do not promote or engage in any form of it.</p>

<h3>Access To Information We Store About You</h3>
<p>As per the Data Protection Act 1998 (UK), you are able to ask us to send you all of the information we hold about you (subject to certain legal limitations). To do this, please send us an email to <%= link_to "jakub.chodounsky@gmail.com", "mailto:jakub.chodounsky@gmail.com" %> and provide any information we may need in order to locate information we store about you.</p>
