<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <p><strong>To:</strong> <%= @to %></p>
  <p><strong>From:</strong> <%= @from  %></p>
  <p><strong>Subject:</strong> <%= @subject %></p>
  <p><strong>Text:</strong></p>
  <pre>
    <%= @text %>
  </pre>
</body>
</html>
