$main-color: #404040;
$alternate-color: white;
$light-color: #999;

$programming-background: #CC342D;
$programming-alternate-color: #CC342D;
$elixir-background: #732673;
$elixir-alternate-color: #732673;
$csharp-background: #0000ee;
$csharp-alternate-color: #0000ee;
$react-background: #2F92CC;
$react-alternate-color: #2F92CC;

header, nav, section, article, aside, footer, main { display:block; }

html, body { min-height: 100%; margin: 0; padding: 0; top: 0; left: 0; }
body { font-family: "Courier New", Courier, monospace; color: $main-color; text-rendering: optimizeLegibility; hyphens: auto; line-height: 145%; font-size: 17px; }
h1, h2, h3, h4, h5, h6 { margin: 1.25em 0 1em 0; line-height: 125%; }
h1 { font-size: 1.5em; margin-top: 0.75em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
p { margin: 1em 0; }
em { font-style: italic;}
strong, th, dt { font-weight: bold;}
pre { font-family: monospace; line-height: 115%; margin: 1.25em 0;}
small { font-size: 80%; }

a, a:active { color: $light-color; }
a:visited { color: $light-color; }
a:hover { text-decoration: none;}

div.field_with_errors { display: inline;}
.field_with_errors input { background-color: #fdf7f7;}
.success, .error, .notice, .warning { margin: 2em 0; padding: 20px; border-left: 3px solid #eee;}
.success h3, .error h3, .notice h3, .warning h3 { font-weight: normal; margin: 0;}
.success { background-color: #f2f9ef; border-color: #090 }
.error { background-color: #fdf7f7; border-color: #d9534f;}
.notice { background-color: #f4f8fa; border-color: #5bc0de;}
.warning { background-color: #fcf8f2; border-color: #f0ad4e;}
.error h3 { color: #d9534f;}
.success h3 { color: #090;}
.notice h3 { color: #5bc0de;}
.warning h3 { color: #f0ad4e;}

table { width: 100%;}
table td, table th { padding: 0.5em 1em }
table th { text-align: left;}
table tbody tr:nth-child(odd) { background: #ededed;}

textarea { &.l10 { height: 14em; }}

.hidden { display: none !important;}
.tleft { text-align: left;}
.tcenter { text-align: center; }
.tright { text-align: right;}

.clearfix:after { content: ""; display: table; clear: both; }

.desktop { display: initial; }
.mobile { display: none; }

.digests {
  &.programming {
    background-image: -webkit-gradient(linear, 0% 305px, 100% 305px, color-stop(0%, $programming-background ), color-stop(305px, $programming-background ), color-stop(305px, #FFF), color-stop(100%, #FFF)); background-image: -moz-linear-gradient(left, $programming-background  0%, $programming-background  305px, #FFF 305px, #FFF 100%); background-image: -webkit-linear-gradient(left, $programming-background  0%, $programming-background  305px, #FFF 305px, #FFF 100%); background-image: linear-gradient(to right, $programming-background  0%, $programming-background  305px, #FFF 305px, #FFF 100%);
    input[type="text"], input[type="email"], textarea { &:focus { border-bottom: 1px solid $programming-background; } }
    input[type="submit"] { background: $programming-background; border: 2px solid $programming-background; }
    &.home .main h1 { color: $programming-alternate-color; }
  }

  &.elixir {
    background-image: -webkit-gradient(linear, 0% 305px, 100% 305px, color-stop(0%, $elixir-background ), color-stop(305px, $elixir-background ), color-stop(305px, #FFF), color-stop(100%, #FFF)); background-image: -moz-linear-gradient(left, $elixir-background  0%, $elixir-background  305px, #FFF 305px, #FFF 100%); background-image: -webkit-linear-gradient(left, $elixir-background  0%, $elixir-background  305px, #FFF 305px, #FFF 100%); background-image: linear-gradient(to right, $elixir-background  0%, $elixir-background  305px, #FFF 305px, #FFF 100%);
    input[type="text"], input[type="email"], textarea { &:focus { border-bottom: 1px solid $elixir-background; } }
    input[type="submit"] { background: $elixir-background; border: 2px solid $elixir-background; }
    &.home .main h1 { color: $elixir-alternate-color; }
  }

  &.react {
    background-image: -webkit-gradient(linear, 0% 305px, 100% 305px, color-stop(0%, $react-background ), color-stop(305px, $react-background ), color-stop(305px, #FFF), color-stop(100%, #FFF)); background-image: -moz-linear-gradient(left, $react-background  0%, $react-background  305px, #FFF 305px, #FFF 100%); background-image: -webkit-linear-gradient(left, $react-background  0%, $react-background  305px, #FFF 305px, #FFF 100%); background-image: linear-gradient(to right, $react-background  0%, $react-background  305px, #FFF 305px, #FFF 100%);
    input[type="text"], input[type="email"], textarea { &:focus { border-bottom: 1px solid $react-background; } }
    input[type="submit"] { background: $react-background; border: 2px solid $react-background; }
    &.home .main h1 { color: $react-alternate-color; }
  }

  &.csharp {
    background-image: -webkit-gradient(linear, 0% 305px, 100% 305px, color-stop(0%, $csharp-background ), color-stop(305px, $csharp-background ), color-stop(305px, #FFF), color-stop(100%, #FFF)); background-image: -moz-linear-gradient(left, $csharp-background  0%, $csharp-background  305px, #FFF 305px, #FFF 100%); background-image: -webkit-linear-gradient(left, $csharp-background  0%, $csharp-background  305px, #FFF 305px, #FFF 100%); background-image: linear-gradient(to right, $csharp-background  0%, $csharp-background  305px, #FFF 305px, #FFF 100%);
    input[type="text"], input[type="email"], textarea { &:focus { border-bottom: 1px solid $csharp-background; } }
    input[type="submit"] { background: $csharp-background; border: 2px solid $csharp-background; }
    &.home .main h1 { color: $csharp-alternate-color; }

  }
  width: 1115px; background-repeat: no-repeat;

  input[type="text"], input[type="email"], textarea {
    border: none; border-bottom: 1px solid $main-color; font-size: 0.9em; display: block; margin: 1em 0; padding: 2px; font-family: "Courier New", Courier, monospace; min-width: 317px;
    &:focus { outline: none; }
  }
  textarea { min-height: 4em; }
  fieldset { margin: 2em 0; }
  ::-webkit-input-placeholder { font-style: italic; }
  :-moz-placeholder { font-style: italic; }
  ::-moz-placeholder { font-style: italic; }
  :-ms-input-placeholder { font-style: italic; }
  input[type="submit"] { color: $alternate-color; font-family: "Courier New", Courier, monospace; font-size: 0.9em; border-radius: 20px; padding: 6px 10px; min-width: 200px; }


  .content { padding: 20px 20px 20px 60px; }
  header {
    a:hover { text-decoration: underline; }
    h1 {
      width: 205px; margin-right: 175px; float: left; font-weight: normal;
      a, a:visited { color: $alternate-color; text-decoration: none; }
    }
    ul { margin: 0; padding: 0; }
    ul li {
      a, a:visited { color: $light-color; text-decoration: none; }
      width: 210px; list-style: none; display: block; float: left; padding-top: 55px;
    }
  }

  .sidebar {
    width: 205px; float: left; margin-right: 175px; color: $alternate-color; padding-top: 10px;
    a, a:visited { color: $alternate-color; }
    h3 { margin: 10px 0; }
    ul { padding-left: 0; margin-bottom: 50px;}
    li { list-style: none; }
  }

  &.home .main {
    h1 { font-family: sk-modernistbold, Verdana, Geneva, sans-serif; font-size: 65px; font-weight: bold; margin: 20px 0 40px 0; line-height: 100%; }
  }

  .main {
    width: 635px; float: right;
    .subscribe-form, .search-form {
      margin: 3em 0;
    }
    .social-follow { margin: 2em 0; }
  }

  footer {
    a, a:visited { color: $light-color; }
    ul { text-align: right; padding-left: 0; }
    ul li { display: inline; list-style: none; }
  }

  .digest-article, .share {
    a { color: #0000EE; }
    a:visited { color: #551a8b; }
    a:active { color: #ee0000; }
    p { line-height: 115%; margin-top: 0.3em; color: $light-color; }
    ul { padding: 0; margin-bottom: 3em; }
    li { list-style: none; display: inline; padding-right: 3em; }
  }

  .share ul li { font-weight: bold; }
}

.links {
  & > div { margin: 0; width: 100%; }
  .links-list { margin-top: 1em; }

  &.new textarea.content { height: 10em; }

  &.show {
    article {
      font-family: serif;
      h1, h2, h3, h4, h5, h6 { font-weight: bold;}
      header {
        text-align: center;
        h1 a { text-transform: none; color: #404040; }
      }

      .content { width: 720px; margin: auto;}
    }
  }
}



body.dashboard, body.news, body.links {
  top: 0; left: 0; margin: 0; padding: 0; font-family: sans-serif;
}

.dashboard {
  .digests { width: 100%; }
  .stats { padding: 0 1em; margin-bottom: 2em; }
  .digest { padding: 0.25em 1em 2em 1em; }
  .digest:nth-of-type(odd) { background: #EDF1F2; }
  .digest-name { margin: 2em 0; text-transform: uppercase;}
}

body.news {
  .links {
    padding: 1em; width: 440px; float: left; font-size: 0.8em;
    a { text-decoration: none; }

    table tr td {
      overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 300px; width: 300px;
      &:first-child { max-width: 32px; }
      &:last-child { max-width: 33px; font-size: 0.8em;}
    }
  }
}

@media screen and (max-width: 1115px) {
  .desktop { display: none; }
  .mobile { display: initial; }
  .digests {
    &.programming header h1 { a, a:visited { color: $programming-alternate-color; }}
    &.elixir header h1 { a, a:visited {color: $elixir-alternate-color; }}
    &.csharp header h1 { a, a:visited {color: $csharp-alternate-color; }}
    &.react header h1 { a, a:visited {color: $react-alternate-color; }}

    background-image: none !important; width: 100%;
    .content { padding: 20px; }
    header {
      h1 { float: none; width: 100%; }
      ul li {
        width: 100%; margin-right: 0; float: none; display: block; text-align: left !important; padding: 0.5em 0;
      }
    }

    input, textarea { width: 100% !important; min-width: 100% !important; }
    input[type=submit] { padding: 10px; margin: 1em 0; }
    .main {
      width: 100%; float: none;
      h1 { font-size: 45px; }
      .subscribe-form, .search-form {
        margin: 3em 0;
      }
      .social-follow { margin: 2em 0; }
    }

    .sidebar {
      color: $main-color; width: 100%; float: none; margin-right: 0;
      a, a:visited { color: $light-color; }
      ul {
        margin: 0; padding: 0; text-align: left;
        li { display: block; margin: 1em 0; }
      }
    }

    .share, footer {
      ul {
        text-align: left;
        li { display: block; padding-right: 0; margin: 0.5em 0; }
      }
    }
  }

  .links.show .content { width: 100%; }
  body.news .links {
    width: 100%; padding: 1em 0; float: none;
    table { table-layout: fixed; }
    table tr td {
      display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 99%; max-width: 99%; box-sizing: border-box;
      &:first-child { display: none; }
      &:last-child { display: none; }
    }
  }
}
