$main-color: #404040;
$light-color: #999;
$light-background: #ededed;
$alternate-color: rgb(0, 120, 231);
$darker-alternate-color: darken($alternate-color, 5%);


header, nav, section, article, aside, footer, main { display:block; }

body { font-family: sans-serif; color: $main-color; margin: 1em; text-rendering: optimizeLegibility; hyphens: auto; line-height: 145%; font-size: 15px; }
h1, h2, h3, h4, h5, h6 { margin: 1.25em 0 1.25em 0; line-height: 125%;}
h1 { font-size: 1.5em; margin-top: 0.75em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
p { margin: 1em 0; }
em { font-style: italic;}
strong, th, dt { font-weight: bold;}
pre { font-family: monospace; line-height: 115%; margin: 1.25em 0;}
small { font-size: 80%; }

body > div { margin: 0 auto; width: 760px;}

header {
  h1 {
    margin: 1em 0 0.5em 0;
    a, a:visited { color: $alternate-color; text-decoration: none; }
  }
  ul { margin: 0; padding: 0; text-align: right; margin-top: 30px; }
  ul li {
    a, a:visited { color: $light-color; text-decoration: none; }
    list-style: none; display: inline; padding-right: 0.5em;
  }

}

footer {
  margin-top: 2em; border-top: 1px solid $light-background; text-align: center; padding-top: 1em;
  a, a:visited { color: $light-color; }
}

a, a:active { color: $darker-alternate-color;}
a:visited { color: $light-color; }
a:hover { text-decoration: none;}

div.field_with_errors { display: inline;}
.field_with_errors input { background-color: #fdf7f7;}
.success, .error, .notice, .warning { margin: 2em 0; padding: 20px; border-left: 3px solid #eee;}
.success h3, .error h3, .notice h3, .warning h3 { font-weight: normal; margin: 0;}
.success { background-color: #f2f9ef; border-color: #090 }
.error { background-color: #fdf7f7; border-color: #d9534f;}
.notice { background-color: #f4f8fa; border-color: #5bc0de;}
.warning { background-color: #fcf8f2; border-color: #f0ad4e;}
.error h3 { color: #d9534f;}
.success h3 { color: #090;}
.notice h3 { color: #5bc0de;}
.warning h3 { color: #f0ad4e;}

table { width: 100%;}
table td, table th { padding: 0.5em 1em }
table th { text-align: left;}
table tbody tr:nth-child(odd) { background: $light-background;}

.hidden { display: none !important;}

.digest-article {
  p { line-height: 115%; margin-top: 0.1em; color: $light-color; }
  h3 { font-weight: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin: 0.75em 0 0 0; }
}

.digests-show {
  h2 { margin: 2em 0 0 0; }
  body > div {
    h1 a, h1 a:visited { color: $light-color;}
  }
}

.digests-index {
  .subscribe-form { margin-bottom: 1em; }
  .archive-item {
    padding-top: 1.5em;
    h3 { font-size: 1em; display: inline; }
    aside { display: inline; }
  }
}
