$main-color: #404040;
$alternate-color: white;
$light-color: #999;

$programming-background: #CC342D;
$programming-alternate-color: #CC342D;
$elixir-background: #732673;
$elixir-alternate-color: #732673;
$csharp-background: #0078d7;
$csharp-alternate-color: #0078d7;
$react-background: #2F92CC;
$react-alternate-color: #2F92CC;


header, nav, section, article, aside, footer, main { display:block; }

html, body { min-height: 100%; margin: 0; padding: 0; top: 0; left: 0; }
body { font-family: "Courier New", Courier, monospace; color: $main-color; text-rendering: optimizeLegibility; hyphens: auto; line-height: 145%; font-size: 17px; }
h1, h2, h3, h4, h5, h6, .perex { margin: 1.25em 0 1em 0; line-height: 125%; font-weight: bold; }
h1, .perex { font-size: 1.5em; margin-top: 0.75em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
p { margin: 1em 0; }
em { font-style: italic;}
strong, th, dt { font-weight: bold;}
pre { font-family: monospace; line-height: 115%; margin: 1.25em 0;}
small { font-size: 80%; }

a, a:active { color: $light-color; }
a:visited { color: $light-color; }
a:hover { text-decoration: none;}

.programming {
  header, .perex { color: $programming-alternate-color; }
}

.elixir {
  header, .perex { color: $elixir-alternate-color; }
}

.react {
  header, .perex { color: $react-alternate-color; }
}

.csharp {
  header, .perex { color: $csharp-alternate-color; }
}

body { padding: 20px; max-width: 700px; }
header {
  table { width: 100%; }
  aside { text-align: right; font-size: 1.5em; }
}

.share a { font-weight: bold; }
.perex { font-family: Verdana, Geneva, sans-serif; font-size: 50px; margin: 20px 0 25px 0; letter-spacing: 2px; }
footer {
  a, a:visited { color: $light-color; }
}

.digest-article, .share {
  a { color: #0000EE; }
  a:visited { color: #551a8b; }
  a:active { color: #ee0000; }
  p { line-height: 115%; margin-top: 0.3em; color: $light-color; }
  ul { padding: 0; margin: 0; margin-bottom: 3em; }
  li { list-style: none; display: block; margin: 1em 0; }
}
