// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron { text-align: center; margin-top: 2em; }
.jumbotron h1 { margin: 0 0 0.25em 0; font-size: 400%; font-weight: bold; color: black;}
.jumbotron p { font-size: 200%; font-weight: 300; margin: 0 0 2em 0;}
.jumbotron ul { margin: 1em 0;}
.jumbotron ul li { list-style: none; }
